.root {
  --content-padding: 1em;

  display: grid;

  grid-template:
    "head head" auto
    "period userinfo" auto
    "list list" auto / 1fr 1fr;

  grid-gap: 2em;

  padding: var(--content-padding);
}

.header {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--content-padding) * 2);

  padding: var(--content-padding);
  margin: calc(var(--content-padding) * -1);

  box-shadow: 0 1px 4px rgb(0 0 0 / 50%);
}

.accountsMenu {
  display: grid;

  grid-template-columns: max-content 1fr;
  grid-gap: 1em;

  align-items: center;
}
